---
tags:
  - architecture/database/model
---
# Model: Verification

## Fields
- **uid**: Int
- **target**: String
- **code**: String
- **type**: String
- **expiresAt**: DateTime
- **createdAt**: DateTime

## Relationships
*No direct outgoing relations.*
