#root {
    background-image: url('/assets/pattern.png');
    background-repeat: repeat;
    opacity: 0.5;
}

* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Disable selection for interactive elements */
button,
a,
input[type="button"],
input[type="submit"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}